*{
    box-sizing: border-box;
}
:root{
    --header-bg-colour: #FFAE00;
    --header-colour: #383416;
    --footer-bg-colour: #383416;
    --footer-colour: #fff;
}
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.headerContainer, .footerContainer {
    width: 100%;
}
.mainContainer{
    margin: 0 0 120px 0;
    padding: 0 10px;
}

.headerContainer {
    background-color: var(--header-bg-colour);
    color: var(--header-colour);
    margin:0;
    padding:0;
}

header h1 {
    margin: 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}
header>div:last-child{
    position:relative;
}
.mainNav {
    position: absolute;
    left:-100%;
    top:-1px;
    transition: left 0.5s;
    background-color: var(--header-bg-colour);
    color: var(--header-colour);
    width:100%;
}

.mainNav > menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainNav > menu li {
    border-bottom: 1px solid var(--header-colour);
    padding: 5px;
}

.mainNav >menu > li > a {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: var(--header-colour);
    padding: 8px 0;
}
.topBar{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

/* burger menu */
.burger>.line {
    width: 35px;
    height: 5px;
    background-color: var(--header-colour);
    margin: 6px 0;
    transition: transform 0.4s;
}

/* Rotate first bar */
.burger.changeBurger>.line:first-child {
    transform: translate(0, 11px) rotate(-45deg);
}

.burger.changeBurger>.line:nth-child(2) {
    opacity: 0;
}

.burger.changeBurger>.line:last-child {
    transform: translate(0, -11px) rotate(45deg);
}
.homePage{
    display: flex;
    flex-wrap: wrap;
    font-size:0.8rem;
}
.homePage>div{
    flex:1 1 50%;
    padding:10px;
}
.homePage>div>a{
	color: var(--header-colour);
	text-decoration: none;
}

.homePage img {
    width: 100%;
    height: auto;
}
/* table styles */
table {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}

th,
td {
  padding: 10px 4px;
  text-align: left;
}

th {
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ccc;
}
.uc{
	text-transform: uppercase;
}

/* form styles */
form>div {
    margin: 15px 0;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

input[type="submit"] {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    padding: 15px;
}


.footerContainer {
    position:fixed;
    bottom:0px;
    width:100%;
    /* display:flex;
    justify-content: center; */
    background-color: var(--footer-bg-colour);
    color: var(--footer-colour);
    margin: 40px 0 0 0;
    font-size: 0.8em;
    padding:20px 0;
}
footer>nav{
    padding:0;
    margin:0;
}
footer > nav > menu{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    margin:0;
}
footer>nav>menu>li>a {
    color: var(--footer-colour);
    text-decoration: none;
    padding: 0 10px;
}
footer>div {
    text-align: center;
}